#div-principale {
    width:50%;
    border:solid 1px #337ab7;
    border-radius:10px;
    margin-top:5%;
}

#entete-div-principale {
    background-color:#337ab7;
    color:white;
    border-radius:10px;
    padding-left: 5%;

}

#div-caracteres-restants {
    background-color: lightblue;
    border-radius:10px;
    padding-left: 5%;
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
}

#div-note-sauvegardee {
    display:none;
    margin-top:2%;
    background-color: lightgrey;
    border-radius:10px;
    padding-left: 5%;
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom:2%;
}